@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Zeyada');

html {
  background: url(../../images/lost_cookie.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: Quicksand;
  letter-spacing: 0.1em;
  font-size: 3em;
  color: white;
  text-align: center;
}

h2 {
  font-family: Quicksand;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  color: gray;
  text-align: center;
}

h3 {
	font-family: Zeyada;
  letter-spacing: 0.09em;
  font-size: 15px;
  color: gray;
  text-align: center;
  border-top: 3em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #e24828;
}

.logo {
  display: block;
  margin: 0 auto;
  opacity: 0.9;
}
